{block content}
    <div class="container-fluid">
        <div class="row">
            <div class="col-5" >
                <a n:href="Homepage:default"><img src="{$basePath}/resources/fistaidcrest.png" class="rounded-circle" width="194" id="crest"/></a>
            </div>
            <div class="col-7" id="nadpis">
                <h1 class="nadpis">&lt;Fist Aid&gt;</h1>
            </div>
        </div>
    </div>


{/block}