{block content}

    <h1 class="my-4">Battle of Dazar'alor Guide</h1>

    <div class="card bg-dark text-light mb-4">
        <img class="card-img-top" src="{$basePath}/resources/king.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">King Rastakhan</h2>
            <h6 class="card-subtitle mb-2 text-muted">All images and gifs of videos are property of <a href="https://www.youtube.com/channel/UCxPdH3tv8zuGDBBKCEwruGQ">Fatboss</a>
                <br>
                Mechaniky označeny <b style="color: #ff2828">červeně</b> jsou pouze na heroic
            </h6>
            <h3 class="card-title "><u>Mechaniky a ability:</u> </h3>
            <p class="card-text">
                - Fight má 4 fáze <br>
                - Má sebou 3 addy, dmg daný Rasthakanovi se rozdělí uměrně mezi addy<br>
                <h4>Fáze 1</h4><br>
                - <b>Serpents breath</b> - Dealuje velký fire dmg na random hráče (pokud je boss daleko od raidu měl by to cástit pouze na tanka který to může sidestepnout)<br>
                - <b>Scorching detonation</b> - Dot na tanka která po 5 sec vybuchne a dá raid dmg, menší čím dál je od raidu (opět pokud je tank daleko s bossem není to problém)<br>
                - <b>Plague of toads</b> - Vyšle 3 žáby které za sebou nechávají pool který dává ticking dmg, pokud se jedné někdo dotkne dostane dotku na 12 sec (Pokud je tank daleko, je spousta času na to zareagovat)<br>
                - <b>Seal of Purification</b> - Beam ze stropu zaměří hráče a pronásleduje ho, hráč musí utěct s ním pryč zatím co ostatního ho dodgenou<br>
                - <b>Greavius axe</b> - Debuff zaměří random hráče dá mu dmg a pak dostává tick dokud není nad 90% hp<br>
                - <b>Meteor leap</b> - Zaměří random hráče a po chvíli dá aoe dmg, rozložený mezi všechny co bylo v kruhu kolem zaměřeného hráče (je třeba stack)<br><br>
                <h4>Fáze 2</h4><br>
                - <b>Aura of Death</b> - Bowndsandi do všech kolem 30 yardů dává dotku každý 3 sekundy, tankuje se daleko od raidu<br>
                - <b>Caress of death</b> - Debuff na tanka, dmg + imunne to healing<br>
                - <b>Scorching detonation</b> - Zůstává z první fáze (dobrý čas na tank swap)<br>
                - <b>Plague of toads</b> zůstává<br>
                - <b>Zombie dust totem</b> - Mindcontrolne hráče a je možné že začne plýtvat CD<br>
                - <b>Plague of fire</b> - Debuff která da dmg a spreadne se na ostatní hráče kteří so v 7 yardovém rangi, range bude spreadlý, melee musí rychle zdrhat od sebe<br>
            </p>
            <h3 class="card-title "><u>Dps tipy:</u></h3>
            - Neutočit na Rasthakana v první části, dmg se rozprostírá do addek.
            - Neutořit do Bownsandiho v 2. Fazi, nedostává dmg
            - V druhé fázi Burst <b>Zombie dust totem</b>
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Tank tipy:</u> </h3>
            - v první fázi Rasthakan by se měl tankovat od add daleko kvuli 3 abilitám který castí Rasthakan (viz první 3 ability v mechaniky a ability)
            - v druhé fázi tankovat Bwonsandiho na stejném místě jako předtím Rasthakana
            - Na debuff <b>Caress of Death</b> mitigačku
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Heal tipy:</u> </h3>
            - Vyhealovat hráče nad 90% hp s debuffem <b>Greavius axe</b>
            <p class="card-text">
            </p>
        </div>
    </div>
    <div class="card-footer text-muted">
        Fatboss -
        <a href="https://www.youtube.com/watch?v=VqYXVrt-_Iw" target="_blank" >King Rastakhan</a>
    </div>
{/block}
{block side}
    <h1 class="my-4" style="color: #1b1e21">PENIS</h1>
    <div class="card bg-dark text-light my-4">
        <h5 class="card-header">Obrázky & Gify</h5>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Obrázky a gify se dají rozkliknout</h6>
        </div>
    </div>
{/block}