{block content}

    <h1 class="my-4">Battle of Dazar'alor Guide</h1>

    <div class="card bg-dark text-light mb-4">
        <img class="card-img-top" src="{$basePath}/resources/king.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">King Rastakhan</h2>
            <h6 class="card-subtitle mb-2 text-muted">All images and gifs of videos are property of <a href="https://www.youtube.com/channel/UCxPdH3tv8zuGDBBKCEwruGQ">Fatboss</a>
                <br>
                Mechaniky označeny <b style="color: #ff2828">červeně</b> jsou pouze na heroic
            </h6>
            <h3 class="card-title "><u>Mechaniky a ability:</u> </h3>
            <p class="card-text">
                (některé ability mužou být jiné, info brané z bety)
                - Bloodlust v 3 fázi
                - Fight má 4 fáze <br>
                - Má sebou 3 addy, dmg daný Rasthakanovi se rozdělí uměrně mezi addy<br>
                <h4>Fáze 1</h4>
                - <b style="color: #ff2828">Serpents breath</b> - Totem který dealuje velký fire dmg na random hráče (viz obr.1, pokud je boss daleko od raidu měl by to cástit pouze na tanka který to může sidestepnout)<br>
                - <b>Scorching detonation</b> - Dot na tanka která po 5 sec vybuchne a dá raid dmg, menší čím dál je od raidu (opět pokud je tank daleko s bossem není to problém)<br>
                - <b>Plague of toads</b> - Vyšle 3 žáby (viz obr. 2) <b style="color: #ff2828">které za sebou nechávají pool který dává ticking dmg</b>, pokud se jedné někdo dotkne dostane dotku na 12 sec (Pokud je tank daleko, je spousta času na to zareagovat)<br>
                - <b>Seal of Purification</b> - Beam ze stropu zaměří hráče a pronásleduje ho (viz obr. 3), hráč musí utěct s ním pryč zatím co ostatního ho dodgenou<br>
                - <b style="color: #ff2828">Greavius axe</b> - Debuff zaměří random hráče dá mu dmg a pak dostává tick dokud není nad 90% hp<br>
                - <b>Meteor leap</b> - Zaměří random hráče a po chvíli dá aoe dmg (viz obr 4.), rozložený mezi všechny co bylo v kruhu kolem zaměřeného hráče (je třeba stack)<br><br>
                <h4>Fáze 2</h4>
                - <b>Aura of Death</b> - Bowndsandi do všech kolem 30 yardů dává dotku každý 3 sekundy, tankuje se daleko od raidu<br>
                - <b>Caress of death</b> - Debuff na tanka, dmg + imunne to healing<br>
                - <b>Scorching detonation</b> - Zůstává z první fáze (dobrý čas na tank swap)<br>
                - <b>Plague of toads</b> zůstává<br>
                - <b>Zombie dust totem</b> - Mindcontrolne hráče a je možné že začne plýtvat CD<br>
                - <b>Plague of fire</b> - Debuff která da dmg a spreadne se na ostatní hráče kteří so v 7 yardovém rangi (viz obr. 5), range bude spreadlý, melee musí rychle zdrhat od sebe<br>
                - <b>Death's Door</b> - Dotka která po vypršení spawne portal (viz obr. 6), umisťovat blíž k Bwonsandimu<br><br>
                <h4>Fáze 3 (Rasthakan na 60%)</h4>
                - Prvně Bwonsandi teleportuje nejbližší pulku raidu do Shadow realmu, Tank není potřeba<br><br>
                <h5>Shadow Realm</h5><br>
                - <b>Caress of death</b> - Stejný jako v 2. fázi s menším dmgem<br>
                - <b>Dread Reaping</b> - Shardy které pobíhají po roomce (viz obr. 7) a davají vysoký dmg pokud někoho zasáhnou (dodge), pokdu se dotknout portálu přesunou se do Living riftu<br>
                - <b>Inevitable End</b> - Kolem sebe vytvoří malý kruh a a zařne tahat hráče do něj (viz obr. 8), musíte brzo utíkat aby vás na konci castu nezabil v kruhu<br>
                - <b>Deathly Withering</b> - Stackovací dotka která se odstraní vchodem do portálu, ale dá dmg všem v raidu, musí se shazovat postupně<br><br>
                <h5>Living realm</h5><br>
                - Rasthakan už necastí <b>Plague of fire</b> a <b>Plague of toads</b>, zůstává mu <b>Scorching Detonation</b> a <b>Zombie dust totem</b><br>
                - Každých 15 sec dostane dmg increase a 3 nové addy<br>
                - <b>Grave bolt</b> - Malý burst dmg do tanka<br>
                - <b>Seal of Bwondsandi</b> - Zelený kruh na zemi (viz obr. 9), klasický soak<br><br>
                <h5>Add ability :</h5>
                - <b>Focused demise</b> - Channeluje dmg do náhodného hráče a pouze ten samý hráč ho může interuptnout<br>
                - <b>Shadow smash</b> - Dmg v cone a debuf 75% heal reduction(monkové to mohli cheesnout chi torpedem)<br><br>
                <h4>Fáze 4 (Bwondsandi na 50%)</h4>
                - stejná jako Living realm v 3. fázi pouze Rasthakanovi přibude <b>Inevitable End</b><br>

            </p>
            <h3 class="card-title "><u>Dps tipy:</u></h3>
            - Neutočit na Rasthakana v první části, dmg se rozprostírá do addek.
            - Neutořit do Bownsandiho v 2. Fazi, nedostává dmg
            - V druhé fázi Burst <b>Zombie dust totem</b>
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Tank tipy:</u> </h3>
            - v první fázi Rasthakan by se měl tankovat od add daleko kvuli 3 abilitám který castí Rasthakan (viz první 3 ability v mechaniky a ability)
            - v druhé fázi tankovat Bwonsandiho na stejném místě jako předtím Rasthakana
            - Na debuff <b>Caress of Death</b> mitigačku
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Heal tipy:</u> </h3>
            - Vyhealovat hráče nad 90% hp s debuffem <b>Greavius axe</b>
            <p class="card-text">
            </p>
        </div>
    </div>
    <div class="card-footer text-muted">
        Fatboss -
        <a href="https://www.youtube.com/watch?v=VqYXVrt-_Iw" target="_blank" >King Rastakhan</a>
    </div>
{/block}
{block side}
    <h1 class="my-4" style="color: #1b1e21">PENIS</h1>
    <div class="card bg-dark text-light my-4">
        <h5 class="card-header">Obrázky & Gify</h5>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Obrázky a gify se dají rozkliknout</h6>
            <p class="card-text">
                <i>Obr. 1: Serpents breath</i> <br/>
                <a href="{$basePath}/resources/kinggifs/breath.gif" data-lightbox="spell" data-title="Serpents breath">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/breath.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 2: Plague of toads</i> <br/>
                <a href="{$basePath}/resources/kinggifs/frog.gif" data-lightbox="spell" data-title="Plague of toads">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/frog.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>            <p class="card-text">
                <i>Obr. 3: Seal of Purification</i> <br/>
                <a href="{$basePath}/resources/kinggifs/beam.gif" data-lightbox="spell" data-title="Seal of Purification">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/beam.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 4: Meteor leap</i> <br/>
                <a href="{$basePath}/resources/kinggifs/meteor.jpg" data-lightbox="spell" data-title="Meteor leap">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/meteor.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 5: Plague of fire</i> <br/>
                <a href="{$basePath}/resources/kinggifs/flame.gif" data-lightbox="spell" data-title="Plague of fire">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/flame.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 6: Death's rift</i> <br/>
                <a href="{$basePath}/resources/kinggifs/rift.jpg" data-lightbox="spell" data-title="Death's rift">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/rift.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 7: Dread reaping</i> <br/>
                <a href="{$basePath}/resources/kinggifs/shard.jpg" data-lightbox="spell" data-title="Dread reaping">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/shard.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 8: Inevitable end</i> <br/>
                <a href="{$basePath}/resources/kinggifs/end.gif" data-lightbox="spell" data-title="Inevitable end">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/end.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 9: Seal of Bwondsandi</i> <br/>
                <a href="{$basePath}/resources/kinggifs/soak.jpg" data-lightbox="spell" data-title="Seal of Bwondsandi">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/soak.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
        </div>
    </div>
{/block}