{block content}

    <h1 class="my-4">Battle of Dazar'alor Guide</h1>

    <div class="card bg-dark text-light mb-4">
        <img class="card-img-top" src="{$basePath}/resources/king.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">King Rastakhan</h2>
            <h6 class="card-subtitle mb-2 text-muted">All images and gifs of videos are property of <a href="https://www.youtube.com/channel/UCxPdH3tv8zuGDBBKCEwruGQ">Fatboss</a>
                <br>
                Mechaniky označeny <b style="color: #ff2828">červeně</b> jsou pouze na heroic
            </h6>
            <h3 class="card-title "><u>Mechaniky a ability:</u> </h3>
            <p class="card-text">
                (některé ability mužou být jiné, info brané z bety) <br>                
                - Fight má 4 fáze <br>
                - Má sebou 2 <b style="color: #ff2828">(3)</b> addy, dmg daný Rastakhanovi se rozdělí úměrně mezi addy<br>
                <h4>Fáze 1</h4>
                <b>Scorching Detonation</b> - DoT na tanka která po 5 sec vybuchne a dá raidwide dmg, menší čím dál je od raidu (pokud je tank daleko s bossem není to problém)<br>
                <b>Seal of Purification</b> - Beam ze stropu zaměří hráče a pronásleduje ho (viz obr. 1), hráč musí utěct s ním pryč zatím co ostatního ho dodgenou<br>
                <b>Plague of Toads</b> - Vyšle 3 žáby (viz obr. 2) <b style="color: #ff2828">které za sebou nechávají pool který dává ticking dmg</b>, samotné žáby dávají dotku na 12 sec (pokud je tank daleko, je spousta času na to zareagovat)<br>
                <b>Meteor Leap</b> - Zaměří random hráče a po chvíli dá AoE dmg (viz obr. 3), rozložený mezi všechny co byli v kruhu kolem zaměřeného hráče (takže je třeba stack)<br>
                <b style="color: #ff2828">Greater Serpent Totem</b> - Totem který dealuje velký fire dmg směrem na random hráče (viz obr. 4, pokud je boss daleko od raidu měl by to cástit pouze na tanka který to může sidestepnout)<br>
                <b style="color: #ff2828">Grievous Axe</b> - Debuff zaměří random hráče dá mu dmg a pak dostává DoT dokud není nad 90% hp (jak m+ affix)<br>
                <br>
                <h4>Fáze 2 - začne po zabití všech addů</h4>
                - Bwonsamdi se musí tankovat ale nedostává žádný dmg <br>
                <b>Aura of Death</b> - Bwonsamdi do všech kolem (30 yardů) dává dotku každý 3 sekundy, tankuje se daleko od raidu<br>
                <b>Caress of Death</b> - Debuff na tanka, dmg + tank nedostává healy<br>
                <b>Scorching Detonation</b> - Zůstává z 1. fáze (dobrý čas na tank swap)<br>
                <b>Plague of Toads</b> Zůstává z 1. fáze<br>
                <b>Zombie Dust Totem</b> - Mindcontrolne hráče a je možné že začne plýtvat CD, je potřeba zničit totem na ukončení MC<br>
                <b>Plague of Fire</b> - Debuff který da dmg a rozšíří se na ostatní hráče v 7 yd rangi (viz obr. 5), ranged hráči budou spreadnutí, melee musí rychle zdrhat od sebe<br>
                <b>Death's Door</b> - DoTka, která po vypršení spawne portál (viz obr. 6), umisťovat blíž k Bwonsamdimu<br>
                <br>
                <h4>Fáze 3 - začne na 60% hp Rastakhana</h4>
                - Prvně Bwonsamdi teleportuje nejbližší půlku raidu do Death Realmu, tank není potřeba<br>
                <h5>Death Realm</h5>
                <b>Caress of Death</b> - Stejný jako v 2. fázi akorát s menším dmgem, kratším blokováním healů a na náhodné hráče<br>
                <b>Dread Reaping</b> - Shardy které pobíhají po roomce (viz obr. 7) a davají vysoký dmg pokud někoho zasáhnou, pokud se dotknou portálu přesunou se do Living Realmu<br>
                <b>Inevitable End</b> - Kolem sebe vytvoří malý kruh a a začne tahat hráče do něj (viz obr. 8), musíte brzo utíkat aby vás na konci castu nezabil v kruhu<br>
                <b>Deathly Withering</b> - Stackovací dotka, která se odstraní vchodem do portálu, ale dá raidwide dmg, takže se musí shazovat postupně<br><br>
                <h5>Living Realm</h5>
                - Rastakhan už necastí <b>Plague of Fire</b> ani <b>Plague of Toads</b>, zůstává mu <b>Scorching Detonation</b> a <b>Zombie Dust Totem</b><br>
                - Každých 15 sec dostane permanentní, stacking dmg increase <br>
                - Vyvolá 2 <b style="color: #ff2828">(3)</b> nové addy, které je potřeba tankovat<br>                                
                <h5>Add ability:</h5>
                <b>Seal of Bwonsamdi</b> - Zelené kruhy na zemi (viz obr. 9), klasický soak, stačí jeden hráč <br>             
                <b>Necrotic smash</b> - Dmg v cone a debuff redukující healing (monkové to mohli cheesnout chi torpedem)<br>
                <b style="color: #ff2828">Focused Demise</b> - Channeluje dmg do náhodného hráče a pouze ten samý hráč ho může interruptnout<br>
                <br>
                <h4>Fáze 4 - začne na 50% hp Bwonsamdiho</h4>
                - Hráči z Death Realmu se vrátí zpět <br>
                - Rastakhanovi zůstává stacking dmg buff a Scorching Detonation, znovu má i Plague of Toads a Plague of Fire a už necastí Zombie Dust Totem <br>
                - Navíc mu přibude Inevitable End a Death's Door od Bwonsamdiho <br>
                - Taky vytváří Death's Door portály přímo u sebe <br>
            </p>
            <h3 class="card-title "><u>Dps tipy:</u></h3>
            - Neútočit na Rastakhana v 1. fázi, dmg se rozprostírá do addek <br>
            - Neútočit do Bwonsamdiho v 2. fázi, nedostává dmg <br>
            - V 2. fázi burst <b>Zombie Dust Totem</b> <br>
            - Bloodlust v 3. fázi <br>
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Tank tipy:</u> </h3>
            - v 1. fázi by se měl Rastakhan tankovat od addů daleko kvůli 3 abilitám který castí Rastakhan (viz ability v sekci mechaniky a ability) <br>
            - v 2. fázi tankovat Bwonsamdiho na stejném místě jako předtím Rastakhana <br>
            - Na debuff <b>Caress of Death</b> mitigačku <br>
            <p class="card-text">
            </p>
            <h3 class="card-title "><u>Heal tipy:</u> </h3>
            - Vyhealovat hráče nad 90% hp s debuffem <b>Grievous Axe</b>
            <p class="card-text">
            </p>
        </div>
    </div>
    <div class="card-footer text-muted">
        Fatboss -
        <a href="https://www.youtube.com/watch?v=VqYXVrt-_Iw" target="_blank" >King Rastakhan</a>
    </div>
{/block}
{block side}
    <h1 class="my-4" style="color: #1b1e21">PENIS</h1>
    <div class="card bg-dark text-light my-4">
        <h5 class="card-header">Obrázky & Gify</h5>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Obrázky a gify se dají rozkliknout</h6>
            <p class="card-text">
                <i>Obr. 1: Seal of Purification</i> <br/>
                <a href="{$basePath}/resources/kinggifs/beam.gif" data-lightbox="spell" data-title="Seal of Purification">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/beam.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 2: Plague of Toads</i> <br/>
                <a href="{$basePath}/resources/kinggifs/frog.gif" data-lightbox="spell" data-title="Plague of Toads">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/frog.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/> 
            <p class="card-text">
                <i>Obr. 3: Meteor Leap</i> <br/>
                <a href="{$basePath}/resources/kinggifs/meteor.jpg" data-lightbox="spell" data-title="Meteor Leap">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/meteor.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 4: Greater Serpent Totem</i> <br/>
                <a href="{$basePath}/resources/kinggifs/breath.gif" data-lightbox="spell" data-title="Greater Serpent Totem">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/breath.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>            
            <p class="card-text">
                <i>Obr. 5: Plague of Fire</i> <br/>
                <a href="{$basePath}/resources/kinggifs/flame.gif" data-lightbox="spell" data-title="Plague of Fire">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/flame.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 6: Death's Door portál</i> <br/>
                <a href="{$basePath}/resources/kinggifs/rift.jpg" data-lightbox="spell" data-title="Death's Door portál">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/rift.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 7: Dread Reaping</i> <br/>
                <a href="{$basePath}/resources/kinggifs/shard.jpg" data-lightbox="spell" data-title="Dread Reaping">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/shard.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 8: Inevitable End</i> <br/>
                <a href="{$basePath}/resources/kinggifs/end.gif" data-lightbox="spell" data-title="Inevitable End">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/end.gif" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
            <p class="card-text">
                <i>Obr. 9: Seal of Bwonsamdi</i> <br/>
                <a href="{$basePath}/resources/kinggifs/soak.jpg" data-lightbox="spell" data-title="Seal of Bwonsamdi">
                    <img style="width: 100%;" src="{$basePath}/resources/kinggifs/soak.jpg" alt="Spell img"> <br/>
                </a>
            </p>
            <br/>
        </div>
    </div>
{/block}